<%= form.label "flight_id_#{flight.id}" do %>
  <div class="flight-card content-card">
    <%= form.radio_button :flight_id, flight.id, required: true %>
    <%= render 'flight_card_contents', flight: flight %>
  </div>
<% end %>
