<%= render 'search_bar' %>
<% @flights.each do |flight| %>
  <div class="flight-card">
    <div class="departure-airport-item"><%= flight.departure_airport.code %></div>
    <div class="arrival-airport-item"><%= flight.arrival_airport.code %></div>
    <div class="departure-date-item"><%= flight.depart_datetime %></div>
  </div>
<% end %>
