<main class="flights">
  <%= render 'search_bar' %>
  <div class="flights-container">
    <div class="flight-cards">
      <% if @flights.any? %>
        <% @flights.each do |flight| %>
          <%= render 'flight_card', flight: flight%>
        <% end %>
      <% else %>
        <p>No flights found.</p>
      <% end %>
    </div>
    <%= paginate @flights %>
  </div>
  <main>
