$dark-font-color: hsl(255, 83%, 7%);

$main-color-light: hsl(75, 83%, 95%);
$main-color-med: hsl(75, 83%, 82%);
$main-color-dark: hsl(75, 83%, 69%);
$secondary-color-light: hsl(255, 83%, 95%);
$secondary-color-med: hsl(255, 83%, 82%);
$alert-color-light: hsl(345, 83%, 95%);
$alert-color-med: hsl(345, 83%, 82%);
$background-color: hsl(255, 10%, 98%);
$gray-light: hsl(75, 0%, 95%);
$gray-med: hsl(75, 0%, 82%);

$border-radius-sm: 0.4rem;