<% unless flash.empty? %>
  <div class="flash">
    <% flash.each do |key, value| %>
      <p class="message-card <%= key == 'alert' ? "flash-alert" : "flash-general" %>"><%= value.html_safe %></p>
    <% end %>
  </div>
<% end %>
