<header>
  <%= image_tag 'flight-booker-logo', class: 'logo' %>
  <%= link_to root_path, class: "logo-link" do %>
    <h1 class="title">kevpedia</h1>
  <% end%>
  <p class="byline">let's connect.</p>
</header>
