.flights {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.flights-container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex: 1;
}

.flight-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.flight-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid $main-color-med;
    border-radius: $border-radius-sm;
    background-color: $main-color-light;
    opacity: 0.9;

    &:hover {
        background-color: $main-color-med;
    }

    p {
        margin: 0;
    }
}

.flight-card-stop {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
    align-items: center;

    .flight-card-airport {
        font-size: 1.2rem;
        font-weight: 600;
    }
}

.flight-card-mid {
    display: flex;
    flex-direction: column;
    align-items: center;

    .flight-card-arrow {
        font-size: 1.6rem;
    }
}

.pagination {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    background-color: $secondary-color-med;

    a {
        padding: 0.3rem;
        color: $tertiary-color-dark;
        transition: background-color 0.2s linear;
        border-radius: $border-radius-sm;
        text-decoration: none;

        &:visited {
            color: $tertiary-color-dark;
        }

        &:hover {
            background-color: $main-color-med;
            text-decoration: none;
        }
    }

}

.no-flights-message {
    @extend .card;
    margin: 1rem auto;
    border-color: $gray-med;
    background-color: $gray-light;
}