.flights {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flights-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex: 1;
}

.flights-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    justify-items: center;
}

.flight-row {
    display: contents;
}