$main-color-light: hsl(75, 83%, 95%);
$main-color-med: hsl(75, 83%, 82%);
$secondary-color-med: hsl(255, 83%, 82%);
$tertiary-color-med: hsl(165, 83%, 82%);
$tertiary-color-dark: hsl(165, 83%, 18%);
$background-color: hsl(255, 10%, 98%);

$border-radius-sm: 0.4rem;