.flights-grid {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: auto;
    justify-content: space-between;
}

.flight-row {
    display: contents;
}